<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Settings.TreeListDataBaseConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TreeListDataBase.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>
